* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111827;
    text-align: center;
}

header {
    color: #f8fafc;
}
.container {
    height: 70vh;
     display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width:18vmin;
    font-size: 8vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    text-shadow: 0 0 1px;
    color: #ff4d6d;
    background-color: #1f2937;
    cursor: pointer;
}

#resetbtn {
    padding: 1rem;
    font-size: 1.25rem;
    color: #38bdf8;
    background-color: #172554;
    border-radius: 1rem;
}

#newbtn {
    padding: 1rem;
    font-size: 1.25rem;
    color: #38bdf8;
    border-radius: 1rem;
}

#resetscore {
    padding: 1rem;
    font-size: 1.25rem;
    color: #38bdf8;
    border-radius: 1rem;
}

#msg {
    color: #facc15;
    font-size: 8vmin;
    text-shadow: 0 0 8px;
}

#score {
    color: #facc15;
    font-size: 8vmin;
    text-shadow: 0 0 8px;
}

.msg-container {
    height: 95vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide {
    display: none;
}

.box:hover {
    background-color: #38bdf8;
}